@charset "utf-8";

/*

1. Common styles
 1.2. Element
2. Header
3. Main
 3.1 Main nav
 3.2 Section-gray

*/

/* Common styles starts */

body {
	margin: 0px;
	padding: 0px;
	background-color: #333333 ;
	font-family: Sans-serif;
}
h1,h2,h3,h4 {
	padding: 0px;
	margin: 0px;
}
button {
	cursor: pointer;
}
* {
  box-sizing: border-box;
}
.credits {
/*  font-size: 12px;*/
  color: white;
}
.credits a {
  color: gray;
}
.credits a:hover {
  color: white;
}


/*Element*/

.element {
  width: 730px;
  display: grid;
  margin: 40px 40px 40px 40px;
	box-shadow: 0px 0px 18px black;
	border-radius: 10px;
	opacity: 0.7;
	transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  color: lightgray;
	background-color: #333333;
}
.element:hover {
  opacity: 0.9;
}
.element__header {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  background-color: #333333;
  border-radius: 10px 10px 0px 0px;
}
.element__header h3 {
  padding-bottom: 15px;
  padding-top: 15px;
}
.element__image {
  grid-area: 2 / 1 / 2 / 2;
  height: 240px;

}
.element__image img {

}
.element__description {
  grid-area: 2 / 2 / 2 / 3;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #262626;
  color: lightgray;

/*  -webkit-text-size-adjust: 100%;*/
}
.element__links {
  grid-area: 3 / 2 / 3 / 3;
  display: flex;
  font-size: 14px;
  background-color: #333333;
  border-radius: 0px 0px 10px 10px;
}
.element__links a {
  flex-grow: 1;
  padding-bottom: 15px;
  padding-top: 15px;
  text-decoration: none;
  color: white;
  text-align: center;
}
.element__links a:hover {
  background-color: #404040;
  
}
.element__links a:last-child:hover {
  background-color: #404040;
  border-radius: 0px 0px 10px 0px;
}
.main-wrapper {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

/*Common styles ends
  Header strats
*/

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #b3b3b3;
  background-color: #101b23;

; 
}
.page-header h1  {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}



/*Header ends
  Main content start*/

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*Main nav*/

main nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
main nav ul {
  display: flex;
  justify-content: center;
  margin: 0px;

  list-style: none;
  background-color: #203646;
}
main nav a {
  display: block;
  text-decoration: none;
  color: #b3b3b3;
  padding: 15px;
}
main nav a:hover {
  color: white;
  background-color: #305169
}

/*Section-gray* starts*/

.section-gray {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1a1a1a ;
}

/*Color Scheme*/

.yellow {
  background-color: yellow;
}
.gray {
  background-color: #1a1a1a;
}
.pink {
  background-color: pink;
}

/*For mobile phone and tablets*/

@media (max-width: 719px) {
  .element__description {

  }
}
