//Common styles starts
$body-color: #333333;
@mixin pad_marg_0 {
  padding: 0px;
	margin: 0px;
}
@mixin marg_auto {
  margin-left: auto;
  margin-right: auto;
}
body {
	@include pad_marg_0;
	background-color: $body-color;
	font-family: Sans-serif;
}
h1,h2,h3,h4 {
	@include pad_marg_0;
}
button {
	cursor: pointer;
}
* {
  box-sizing: border-box;
}
.credits {
/*  font-size: 12px;*/
color: white;
  a {
color: #8c8c8c;
}
 a:hover {
color: #bfbfbf;
}
}

/*Element style starts*/

.element {
  width: 730px;
  display: grid;
  margin: 40px 40px 40px 40px;
	box-shadow: 0px 0px 18px black;
	border-radius: 10px;
	opacity: 0.7;
	transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  color: lightgray;
	background-color: $body-color;
  font-size: 14px;
  :hover {
  opacity: 0.9;
  }
}
.element__header {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  background-color: $body-color;
  border-radius: 10px 10px 0px 0px;
  h3 {
  padding-bottom: 15px;
  padding-top: 15px;
  }
}
.element__image {
  grid-area: 2 / 1 / 2 / 2;
  height: 240px;
}
.element__image img {
}
.element__description {
  grid-area: 2 / 2 / 2 / 3;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #262626;
  color: lightgray;
/*  -webkit-text-size-adjust: 100%;*/
}
.element__links {
  grid-area: 3 / 2 / 3 / 3;
  display: flex;
  font-size: 14px;
  background-color: $body-color;
  border-radius: 0px 0px 10px 10px;
  a {
  flex-grow: 1;
  padding-bottom: 15px;
  padding-top: 15px;
  text-decoration: none;
  color: white;
  text-align: center;
  }
  a:hover {
  background-color: #404040;
  }
  a:last-child:hover {
  background-color: #404040;
  border-radius: 0px 0px 10px 0px;
  }
}
//Element style ends 
 
.main-wrapper {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
}
//Common style ends

//Header style strats
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #b3b3b3;
  background-color: #101b23;
  h1  {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  }
}

//Main content start

main {
  width: 100%;
  @include marg_auto;
  /*Main nav*/
 nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
    ul {
      display: flex;
      justify-content: center;
      margin: 0px;
      list-style: none;
      background-color: #203646;
    }
    button {
      display: block;
      text-decoration: none;
      color: #b3b3b3;
      padding: 15px;
      border: none;
      background-color: #203646;
    }
    button:hover {
      color: white;
      background-color: #305169
    }
  }
}

//Section-gray starts

.section-gray {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1a1a1a ;
}

/*Color Scheme*/

.yellow {
  background-color: yellow;
}
.gray {
  background-color: #1a1a1a;
}
.pink {
  background-color: pink;
}

/*For mobile phone and tablets*/

@media (max-width: 1019px) {
  .element__description {
    font-size: 17px;
  }
  .element__header {
    font-size: 20px;
  }
}
 


